img {
  width: 100%;
  height: auto;
}

form {
  margin: 0 auto;
}

.js-queryList {
  resize: none;
  height: 350px;
  margin-top: 15px;
}

@media not print {
  
    .card-face-div {
      transition: all 0.3s ease-in-out;
  }

  .card-face-div::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
    
  .card-face-div:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .card-overlay:hover {
    opacity: 1;
  }
  
  .card-face-div::after {
    opacity: 1;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    background-color: rgb(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .set-name {
    position: absolute;
    top: 0;
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
  }

  .prev-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  button {
    display: inline-block;
    margin-top: 10px;
  }
}

.card-face-div {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.home-icon {
  height: 40px;
  width: auto;
  margin-right: 15px;
}

.cover-heading {
  margin: 15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters .card-face-div {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  margin-top: 15px;
}

.js-edit-button:hover, .js-review-button:hover {
  cursor: pointer;
}

.edit-mode {
  opacity: 1;
}

ul {
  padding: 0;
}

.centered {
  margin: 0 auto;
}

.js-generate-button, .js-clear-button {
  margin-top: 15px;
  display: inline-block;
}

.close {
  margin-top: 0;
}