form {
  margin: 0 auto;
}

.js-queryList {
  resize: none;
  height: 350px;
  margin-top: 15px;
}

.home-icon {
  height: 40px;
  width: auto;
  margin-right: 15px;
}

.cover-heading {
  margin: 15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters .card-face-div {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  margin-top: 15px;
}

.js-edit-button:hover, .js-review-button:hover {
  cursor: pointer;
}

.edit-mode {
  opacity: 1;
}

ul {
  padding: 0;
}

.centered {
  margin: 0 auto;
}

.js-generate-button, .js-clear-button {
  margin-top: 15px;
  display: inline-block;
}

.close {
  margin-top: 0;
}

.card-div {
  min-width: 235px;
  min-height: 329px;
}

.checklist {
  position: relative;
}

img.normal {
  width: 235px;
  height: 329px;
}

.checklist-front, .checklist-back {
  width: 164.5px;
  height: 235px;
}

.checklist-front {
  position: absolute;
  transform: rotate(270deg);
  top: 128.5px;
  left: 35px;
}

.checklist-back {
  position: absolute;
  transform: rotate(270deg);
  left:35px;
  top: -35.5px;
}

@media not print {
  
  .card-div {
    transition: all 0.3s ease-in-out;
  }

  .card-div::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 235px;
    height: 329px;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
    
  .card-div:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .card-overlay:hover {
    opacity: 1;
  }
  
  .card-div::after {
    opacity: 1;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    background-color: rgb(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }

  .set-name {
    position: absolute;
    top: 0;
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
  }

  .prev-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  button {
    display: inline-block;
    margin-top: 10px;
  }

  img.normal {
    border-radius: 7px;
  }

  .checklist > img.normal {
    display: none;
  }

  .checklist-front {
    border-radius: 7px 0 0 7px;
  }

  .checklist-back {
    border-radius: 0 7px 7px 0;
  }
}