@media only print {
  
  html, body {
    height: auto;
    margin: 0;
  }
  
  .d-print-none {
    display: none;
  }
  
  @page {
    size: auto;
    margin-top: 0.25in;
    margin-left: 0.25in;
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .card-face-div {
    page-break-inside: avoid;
    display:inline-block;
  }

  .normal {
    height: 329px;
    width: 235px;
  }
  
  .js-results.row {
    display: block !important;
    width: 100%;
    font-size: 0;
  }
  
}